@import url("https://fonts.googleapis.com/css2?family=Audiowide&family=Josefin+Sans&family=Rambla&display=swap");

* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}

body {
  font-family: "Roboto";
  color: white;
  background: lightgray;
}

.container {
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center;
}

hr {
  width: 10%;
  margin: 0;
  border: 0;
  border-top: 3px solid black;
  padding-bottom: 25px;
}

/* HEADER */

nav .d-flex {
  padding: 0;
}

.nav-item {
  margin: 0 15px;
  text-align: left;
}

.damir-pic {
  background-image: url(./images/moon-2048727_1920.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  background-attachment: fixed;
}

.overlay {
  background: rgba(0, 0, 0, 0.75);
  color: white;
}

.header {
  padding-top: 150px;
  padding-bottom: 150px;
}

h1 {
  font-size: 4.3em;
  padding-bottom: 25px;
}

.typed {
  font-size: 2.5em;
}

a {
  position: relative;
}

div .nav-item::after {
  content: "";
  position: absolute;
  background-color: white;
  height: 2px;
  width: 0;
  left: 0;
  bottom: 0px;
  transition: 0.3s;
}

div .nav-item:hover::after {
  width: 100%;
}

/* ABOUT-ME */

.profil {
  padding-top: 100px;
  padding-bottom: 100px;
}

.about-me {
  background: white;
  color: black;
  border-radius: 5px;
  text-align: start;
  padding-top: 75px;
  padding-bottom: 50px;
  padding-left: 15px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.06), 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}

.about-me img {
  border-radius: 5px;
}

.infos h5 {
  padding: 20px 5px;
}

.skills {
  padding-top: 25px;
}

/* PARCOURS */

.timeline-section {
  background-image: url(./images/moon-2048727_1920.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  background-attachment: fixed;
  background-color: #24292d;
  min-height: 100vh;
  padding: 100px 15px;
}
.timeline-items {
  max-width: 1000px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}
.timeline-items::before {
  content: "";
  position: absolute;
  width: 2px;
  height: 100%;
  background-color: white;
  left: calc(50% - 1px);
}
.timeline-item {
  margin-bottom: 40px;
  width: 100%;
  position: relative;
}
.timeline-item:last-child {
  margin-bottom: 0;
}
.timeline-item:nth-child(odd) {
  padding-right: calc(50% + 30px);
  text-align: right;
}
.timeline-item:nth-child(even) {
  padding-left: calc(50% + 30px);
}

.timeline-item:hover .timeline-dot {
  background-color: orange;
}

.timeline-dot {
  height: 16px;
  width: 16px;
  background-color: white;
  position: absolute;
  left: calc(50% - 8px);
  border-radius: 50%;
  top: 10px;
}
.timeline-date {
  font-size: 18px;
  color: white;
  margin: 6px 0 15px;
}
.timeline-content {
  background-color: #2f363e;
  padding: 30px;
  border-radius: 5px;
}
.timeline-content h3 {
  font-size: 20px;
  color: #ffffff;
  margin: 0 0 10px;
  text-transform: capitalize;
  font-weight: 500;
}
.timeline-content p {
  color: #c8c8c8;
  font-size: 16px;
  font-weight: 300;
  line-height: 22px;
}

/* responsive */
@media (max-width: 767px) {
  .timeline-items::before {
    left: 7px;
  }
  .timeline-item:nth-child(odd) {
    padding-right: 0;
    text-align: left;
  }
  .timeline-item:nth-child(odd),
  .timeline-item:nth-child(even) {
    padding-left: 37px;
  }
  .timeline-dot {
    left: 0;
  }
}

/* Portfolio section */

.title-portfolio {
  color: black;
  font-size: 60px;
}

.hr-portfolio {
  width: 10%;
  margin: auto;
  border: 0;
  border-top: 3px solid black;
  padding-bottom: 50px;
}

.card {
  margin: 15px 0px;
  color: black;
  background: whitesmoke;
  border-radius: 5px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.06), 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}

.fluid-img {
  overflow: hidden;
}

.card img {
  transition: all 1s;
  max-width: 100%;
  height: auto;
}

.card:hover img {
  transform: scale(1.3);
  transform-origin: 50% 50%;
  filter: contrast(140%);
}

/* FOOTER */

footer p {
  color: black;
}

/* MEDIA QUERIE */

@media screen and (max-width: 1024px) {
  .damir-pic {
    background-attachment: scroll;
  }

  .timeline-section {
    background-attachment: scroll;
  }
}

@media screen and (max-width: 991px) {
  div .nav-item:hover::after {
    width: 0%;
  }

  .skills {
    padding-bottom: 50px;
  }
}

@media screen and (max-width: 560px) {
  .about-me {
    text-align: center;
  }

  .col-md img {
    margin: 0 auto;
  }

  .skills {
    padding-bottom: 50px;
  }

  hr {
    margin: auto;
  }

  .title-portfolio {
    font-size: 50px;
  }
}
