@import url("https://fonts.googleapis.com/css2?family=Audiowide&family=Josefin+Sans&family=Rambla&display=swap");

* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}

body {
  font-family: "Roboto";
  color: white;
  background: lightgray;
}

.container {
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center;
}

hr {
  width: 10%;
  margin: 0;
  border: 0;
  border-top: 3px solid black;
  padding-bottom: 25px;
}

/* HEADER */

nav .d-flex {
  padding: 0;
}

.nav-item {
  margin: 0 15px;
  text-align: left;
}

.damir-pic {
  background-image: url(./images/moon-2048727_1920.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  background-attachment: fixed;
}

.overlay {
  background: rgba(0, 0, 0, 0.75);
  color: white;
}

.header {
  padding-top: 150px;
  padding-bottom: 150px;
}

h1 {
  font-size: 4.3em;
  padding-bottom: 25px;
}

.typed {
  font-size: 2.5em;
}

a {
  position: relative;
}

div .nav-item::after {
  content: "";
  position: absolute;
  background-color: white;
  height: 2px;
  width: 0;
  left: 0;
  bottom: 0px;
  transition: 0.3s;
}

div .nav-item:hover::after {
  width: 100%;
}

/* ABOUT-ME */

.profil {
  padding-top: 100px;
  padding-bottom: 100px;
}

.about-me {
  background: white;
  color: black;
  border-radius: 5px;
  text-align: start;
  padding-top: 75px;
  padding-bottom: 50px;
  padding-left: 15px;
}

.about-me img {
  border-radius: 5px;
}

.infos h5 {
  padding: 20px 5px;
}

.skills {
  padding-top: 25px;
}

/* PARCOURS */

#parcours {
  max-width: 800px;
  margin: 100px auto 180px auto;
  padding: 40px 30px 100px 30px;
  background: url(./images/moon-2048727_1920.jpg) no-repeat fixed 50% 50%;
  background-size: cover;
  border-radius: 8px;
  box-shadow: -1px -1px 8px #283655;
  position: relative;
}

#parcours h3 {
  font-size: 2.5em;
  padding-bottom: 30px;
}

#parcours h4 {
  font-size: 1.6em;
  color: #ff4e50;
  margin-left: 20px;
}

#parcours h6 {
  font-style: italic;
  color: #edca21;
  margin-left: 20px;
}

#parcours p {
  line-height: 1.9em;
}

.timeline {
  border-top: 3px solid;
  border-image: linear-gradient(to right, #f9d423, #ff4e50);
  border-image-slice: 1;
  margin: 0;
  padding: 40px;
  position: relative;
}

.timeline:nth-child(1):after {
  content: "▲";
  color: #ff4e50;
  position: absolute;
  top: -10px;
  right: -10px;
  box-sizing: content-box !important;
}

.timeline:nth-child(1) {
  border-bottom: 3px solid;
  border-top: none;
  width: 80%;
}

.timeline:nth-child(2) {
  border-top: none;
}

.timeline:nth-child(odd) {
  border-right: 3px solid;
  padding-left: 0;
}

.timeline:nth-child(even) {
  border-left: 3px solid;
  padding-right: 0;
}

/* Portfolio section */

.title-portfolio {
  color: black;
  font-size: 60px;
}

.hr-portfolio {
  width: 10%;
  margin: auto;
  border: 0;
  border-top: 3px solid black;
  padding-bottom: 50px;
}

.card {
  margin: 15px 0px;
  color: black;
  background: beige;
}

.fluid-img {
  overflow: hidden;
}

.card img {
  transition: all 1s;
  max-width: 100%;
  height: auto;
}

.card:hover img {
  transform: scale(1.3);
  transform-origin: 50% 50%;
  filter: contrast(140%);
}

/* MEDIA QUERIE */

@media screen and (max-width: 991px) {
  div .nav-item:hover::after {
    width: 0%;
  }

  .skills {
    padding-bottom: 50px;
  }
}

@media screen and (max-width: 560px) {
  .about-me {
    text-align: center;
  }

  .col-md img {
    margin: 0 auto;
  }

  .skills {
    padding-bottom: 50px;
  }

  hr {
    margin: auto;
  }

  .title-portfolio {
    font-size: 50px;
  }
}
